.Editor {
    background: #FEEAE6;
    box-shadow: 20px 20px 60px #cfa49b, -20px -20px 60px #cfa49b;
    border: 2px solid black;
    border-radius: 15px;
}

.titleBar {
    width: 80%;
    background: #FEEAE6;
    font-size: 30px;
    color: #442C2E;
    padding: 10px;
    margin: 0 auto;
    border-top: 1px solid #442C2E;
}

.editor {
    width: 80%;
    background-color: #FEEAE6;
    color: #442C2E;
    resize: none;
    outline: none;
    border: none;
    height: 400px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 1.2rem;
}