.Editor {
    height: 500px;
    width: 40%;
    resize: none;
    padding: 15px;
    font-size: 20px;
    background: rgba(26,60,87,1);
    color: white;
    margin: 20px;
}

@media screen and (max-width: 840px) {
    .Editor {
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .Editor {
        width: 85%;
    }
}