.titleBar {
    width: 80%;
    background: #ff6b6b;
    font-size: 30px;
    color: #fff;
    padding: 10px;
    margin: 0 auto;
}

.previewer {
    text-align: start;
    width: 80%;
    background-color: #ff6b6b;
    color: white;
    resize: none;
    outline: none;
    overflow: hidden;
    height: 400px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 100px;
    font-size: 1.2rem;
}