.Previewer {
    height: 500px;
    width: 40%;
    resize: none;
    padding: 15px;
    /* padding-left: 30px; */
    font-size: 20px;
    background: #eef4f6;
    color: rgba(26,60,87,1);
    margin: 20px;
    overflow-y: scroll;
}

@media screen and (max-width: 840px) {
    .Previewer {
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .Previewer {
        width: 85%;
    }
}
